
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>fun(?) with cookies</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery and custom js for this page -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/cookies.js"></script>

  </head>

  <body>

    <div class="container">

      <div id="browser-cookies" style="border: 1px solid black; padding-left: 4px">
        <p> We should be able to append some text to this div, because the cookie is accessible via javascript. </p>
        <p> Cookie: </p>
      </div>

      <div id="http-only-cookies" style="border: 1px solid black; padding-left: 4px">
        <p> There should be nothing appended to this one though, b/c this cookie is httponly. </p>
        <p> Cookie: </p>
      </div>

    </div><!-- /.container -->

  </body>
</html>
