
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>oldhill</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/index2.css" rel="stylesheet">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54783303-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>

  <body>

    <div class="container">

      <div class="page-header" id="about">
        <p> oldhill: still out here in the ruins</p>
      </div>

      <div class="homepage-section" id="software">
        <h5>Software</h5>
        <ul>
          <li>SoundCloud artist recommendations: <a href="/sc">miniramp</a></li>
          <li>JavaScript graphics: <a href="/cubes">cubes</a>, <a href="/processing">ellipse</a></li>
          <li>Old music site scrapers: <a href="https://github.com/oldhill/ra-recommends">
                                          resident advisor</a>,
            <a href="https://github.com/oldhill/pitchfork-bnm">pitchfork</a></li>
        </ul>
      </div>

      <div class="homepage-section" id="writing">
        <h5>Writing</h5>
        <ul>
          <li><a href="https://medium.com/engineers-optimizely/monitoring-and-alerting-for-hadoop-jobs-with-oozie-baa002f19a21">
            Monitoring and Alerting for Hadoop Jobs with Oozie</a></li>
        </ul>
      </div>

      <div class="homepage-section" id="contact">
        <h5>Contact</h5>
        <ul>
          <li><a href="https://github.com/oldhill">GitHub</a></li>
          <li><a href="https://twitter.com/oldhill_">Twitter</a></li>
        </ul>
      </div>

    </div><!-- /.container -->

  </body>
</html>
